<div id="site-content">
  <!-- -->
  <header class="site-header">
    <div class="container">
      <a href="index.html" id="branding">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="logo-copy">
          <h1 class="site-title">Company Name</h1>
          <small class="site-description">Tagline goes here</small>
        </div>
      </a> <!-- #branding -->

      <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
          <li class="menu-item"><a href="about.html">About</a></li>
          <li class="menu-item"><a href="review.html">Movie reviews</a></li>
          <li class="menu-item"><a href="joinus.html">Join us</a></li>
          <li class="menu-item"><a href="contact.html">Contact</a></li>
        </ul> <!-- .menu -->

        <form action="#" class="search-form">
          <input type="text" placeholder="Search...">
          <button><i class="fa fa-search"></i></button>
        </form>
      </div> <!-- .main-navigation -->

      <div class="mobile-navigation"></div>
    </div>
  </header>
  <!--  -->
  <main class="main-content">
    <div class="container">
      <div class="page">
        <div class="row">
          <div class="col-md-9">
            <div class="slider">
              <ul class="slides">
                <li><a href="#"><img src="assets/dummy/slide-1.jpg" alt="Slide 1"></a></li>
                <li><a href="#"><img src="assets/dummy/slide-2.jpg" alt="Slide 2"></a></li>
                <li><a href="#"><img src="assets/dummy/slide-3.jpg" alt="Slide 3"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12">
                <div class="latest-movie">
                  <a href="#"><img src="assets/dummy/thumb-1.jpg" alt="Movie 1"></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-12">
                <div class="latest-movie">
                  <a href="#"><img src="assets/dummy/thumb-2.jpg" alt="Movie 2"></a>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .row -->
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
              <a href="#"><img src="assets/dummy/thumb-3.jpg" alt="Movie 3"></a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
              <a href="#"><img src="assets/dummy/thumb-4.jpg" alt="Movie 4"></a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
              <a href="#"><img src="assets/dummy/thumb-5.jpg" alt="Movie 5"></a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
              <a href="#"><img src="assets/dummy/thumb-6.jpg" alt="Movie 6"></a>
            </div>
          </div>
        </div> <!-- .row -->

        <div class="row">
          <div class="col-md-4">
            <h2 class="section-title">December premiere</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <ul class="movie-schedule">
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
            </ul> <!-- .movie-schedule -->
          </div>
          <div class="col-md-4">
            <h2 class="section-title">November premiere</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <ul class="movie-schedule">
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
            </ul> <!-- .movie-schedule -->
          </div>
          <div class="col-md-4">
            <h2 class="section-title">October premiere</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <ul class="movie-schedule">
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
              <li>
                <div class="date">16/12</div>
                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
              </li>
            </ul> <!-- .movie-schedule -->
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </main>
  <!--  -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Recent Review</h3>
            <ul class="no-bullet">
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li><a href="#">Sit amet consecture</a></li>
              <li><a href="#">Dolorem respequem</a></li>
              <li><a href="#">Invenore veritae</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Help Center</h3>
            <ul class="no-bullet">
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li><a href="#">Sit amet consecture</a></li>
              <li><a href="#">Dolorem respequem</a></li>
              <li><a href="#">Invenore veritae</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Join Us</h3>
            <ul class="no-bullet">
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li><a href="#">Sit amet consecture</a></li>
              <li><a href="#">Dolorem respequem</a></li>
              <li><a href="#">Invenore veritae</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Social Media</h3>
            <ul class="no-bullet">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Google+</a></li>
              <li><a href="#">Pinterest</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Newsletter</h3>
            <form action="#" class="subscribe-form">
              <input type="text" placeholder="Email Address">
            </form>
          </div>
        </div>
      </div> <!-- .row -->

      <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
    </div> <!-- .container -->

  </footer>
</div>