<!DOCTYPE html>
<html lang="en">
	<head>
    <base href="/">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Movie Review</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	</head>


	<body>
  
    <app-root></app-root>
  
  
  {% comment %} <script src="assets/js/jquery-1.11.1.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/app.js"></script> {% endcomment %}

</body>

</html>
